<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
    
   <bean id="propertyConfigurer" 
         class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
       <property name="location">
           <!-- 从properties文件中读出值 -->
           <value>bean5.properties</value>
           <!-- 如果有多个文件则这样设置 -->
<!--           <list>-->
<!--               <value>a.properties</value>-->
<!--               <value>b.properties</value>-->
<!--           </list>-->
       </property>
   </bean>
   
   <!-- 使用 -->
   <bean id="bean5" class="com.pugwoo.bean.Bean5">
       <property name="user">
           <!-- 使用占位符赋值 -->
           <value>${database.user}</value>
       </property>
       <property name="password">
           <value>${database.password}</value>
       </property>
   </bean>
    
</beans>
