<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!-- 服务端：sayService服务目标 -->
	<bean id="sayHelloServiceTarget"
		class="com.googlecode.excavator.demo.service.impl.SayHelloServiceImpl" />

	<!-- 服务端：发布远程服务 -->
	<bean id="sayHelloServiceExport" 
		class="com.googlecode.excavator.spring.ExcavatorProviderSpringFactoryBean">
		<property name="targetInterface"
			value="com.googlecode.excavator.demo.service.SayHelloService" />
		<property name="targetObject" ref="sayHelloServiceTarget" />
		<property name="group" value="G1" />
		<property name="version" value="1.0.0" />
		<property name="defaultTimeout" value="60000" />
	</bean>

	<!-- 消费端：远程sayService服务-G1组 -->
	<bean id="sayHelloService"
		class="com.googlecode.excavator.spring.ExcavatorConsumerSpringFactoryBean">
		<property name="targetInterface"
			value="com.googlecode.excavator.demo.service.SayHelloService" />
		<property name="group" value="G1" />
		<property name="version" value="1.0.0" />
		<property name="defaultTimeout" value="60000" />
	</bean>

</beans>